@import "tailwindcss";

:root {
  --background: #F0F0E8;
  /* --background: #EFECE3; */
  --foreground: #171717;
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-fraunces);
  --color-amber-500: #fbbf24;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-serif);
}

.illuminate {
  background-color: var(--color-amber-500);
  box-shadow: 0 0 20px 5px rgba(251, 191, 36, 0.6);
}

.off {
  background-color: gray;
}